* {
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
  text-transform: uppercase;
}

.element {
  position: relative;
  opacity: 1;
  animation: slideUp 3.5s, fadeIn 3.5s;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Styles for the navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.5s ease;
  z-index: 100;
}

.navbar.scrolled {
  background-color: transparent;
}

.navbar-brand {
  font-size: 18px;
  padding-left: 48px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.2s;
  z-index: 100;
}

.navbar-brand:hover {
  transform: scaleX(1.2);
}

.navbar-nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 26px;
}

.navbar-nav .nav-item {
  flex: 1 1 50%;
  margin-bottom: 10px;
  transform: scale(1);
  transition: transform 0.2s;
}

.navbar-nav .nav-item:hover {
  transform: scale(1.2);
}

.navbar-nav .nav-link {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

/* Styles for the initial page */
body {
  margin: 0;
  padding: 0;
  background-color: #e5e4e3;
  color: #000000;
}

.initial-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.initial-page h1 {
  font-family: "Sansita Swashed", cursive;
  font-size: 80px;
  text-align: center;
  padding-right: 10px;
  margin: 0;
}

.initial-page p {
  text-align: justify;
  font-size: 30px;
}

/* Styles for sections */
.section {
  /* TOP RIGHT BOTTOM LEFT  */
  padding: 0px 40px;
  height: 100vh;
}

.section h2 {
  font-size: 130px;
  color: #ffffff;
}

.section p {
  line-height: 1.6;
}

.section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section ul li {
  font-size: 18px;
  margin: 8px 0;
}

.section-title {
  transform: translateX(-100%);
  transition: transform 2s ease;
}

.section-title.center {
  transform: translateX(0);
}

/* Styles for the ABOUT ME section */
.about-me-section h2 {
  padding-top: 230px;
}

.about-me-section p {
  text-align: justify;
  font-size: 20px;
  margin-top: -130px;
}

/* Styles for the PROJECTS section */
.projects-section {
  height: auto;
}
.projects-section h2 {
  padding-top: 50px;
  margin-left: -10px;
}

.projects-section p {
  text-align: justify;
}

/* PROJECT CONTAINERS */
.project-one-container {
  display: flex;
  justify-content: space-between;

  margin-top: -130px;
  margin-bottom: 30px;
}

.project-two-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.project-three-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.project-four-container {
  display: flex;
  justify-content: space-between;
}
.technologies-used {
  margin-top: 2px;
}

/* PROJECT SCREENSHOT AND TECHNOLOGIES USED CONTAINER */
.project-screenshot-technologies-used-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROJECT DESCRIPTION CONTAINER */
.project-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-description-container h3 {
  display: inline-block;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.project-description-container p {
  text-align: justify;
  margin-left: 60px;
  margin-top: -10px;
  font-size: 15px;
}
/* PROJECT BUTTONS */
.project-buttons {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.cool-hover-effect {
  padding: 6px;
  margin-left: 10px;
  border-radius: 15px;
}
/* COOL HOVER EFFECT */
.cool-hover-effect:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}
.hover-effect:hover {
  background-color: #333;
  color: #fff;
  border: 5px solid #333;
  border-radius: 25px;
}

/* Styles for the SKILLS section */
.skills-section h2{
  padding-top: 130px;
  margin-left: -10px;
}
/* Programming languages styles */
.language-container {
  margin-top: -90px;
  display: flex;
  align-items: center;
}
.language-container p {
  font-size: 20px;
}

.language-icons {
  display: flex;
}

.language-icons i {
  height: 40px;
  width: 40px;
  background-size: cover;
  margin-left: 10px;
}

/* library-framework styles */
.library-framework-container {
  display: flex;
  align-items: center;
}
.library-framework-container p {
  font-size: 20px;
}
.library-framework-icons {
  display: flex;
}

.library-framework-icons i {
  height: 40px;
  width: 40px;
  background-size: cover;
  margin-left: 10px;
}

/* database styles */
.database-container {
  display: flex;
  align-items: center;
}
.database-container p {
  font-size: 20px;
}
.database-icons {
  display: flex;
}

.database-icons i {
  height: 40px;
  width: 40px;
  background-size: cover;
  margin-left: 10px;
}

/* dev-tools styles */
.dev-tools-container {
  display: flex;
  align-items: center;
}

.dev-tools-container p {
  font-size: 20px;
}
.dev-tools-icons {
  display: flex;
}

.dev-tools-icons i {
  height: 40px;
  width: 40px;
  background-size: cover;
  margin-left: 10px;
}

/* PROGRAMMING LANGUAGES ICONS */
.icon-HTML {
  background-image: url("/images/icons/HTML.png");
}
.icon-CSS {
  background-image: url("/images/icons/css.png");
}
.icon-JAVASCRIPT {
  background-image: url("/images/icons/javascript.png");
}
.icon-CSHARP {
  background-image: url("/images/icons/csharp.png");
}
.icon-SWIFT {
  background-image: url("/images/icons/swift.png");
}

/* Libraries & Frameworks ICONS */
.icon-REACT {
  background-image: url("/images/icons/react.png");
}
.icon-ANGULAR {
  background-image: url("/images/icons/angular.png");
}
.icon-NODE {
  background-image: url("/images/icons/node.png");
}
.icon-EXPRESS {
  background-image: url("/images/icons/express.png");
}
.icon-HANDLEBARS {
  background-image: url("/images/icons/handlebars.png");
}
.icon-NET {
  background-image: url("/images/icons/net.png");
}
.icon-SWIFTUI {
  background-image: url("/images/icons/swiftui.png");
}

/* Database ICONS */
.icon-MONGODB {
  background-image: url("/images/icons/mongodb.png");
}
.icon-AZURE {
  background-image: url("/images/icons/azure.png");
}
.icon-ORACLE {
  background-image: url("/images/icons/oracle.png");
}
.icon-POSTGRESQL {
  background-image: url("/images/icons/postgresql.png");
}
.icon-FIREBASE {
  background-image: url("/images/icons/firebase.png");
}


/* Dev Tools ICONS */
.icon-NPM {
  background-image: url("/images/icons/npm.png");
}
.icon-GIT {
  background-image: url("/images/icons/git.png");
}
.icon-GITHUB {
  background-image: url("/images/icons/github.png");
}
.icon-VSC {
  background-image: url("/images/icons/vsccode.png");
}
.icon-VS {
  background-image: url("/images/icons/vscode.png");
}
.icon-XCODE {
  background-image: url("/images/icons/xcode.png");
}
.icon-POSTMAN {
  background-image: url("/images/icons/postman.png");
}
.icon-FIGMA {
  background-image: url("/images/icons/figma.png");
}

/* Styles for the CONTACT section */
