* {
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
  text-transform: uppercase;
}

.element {
  position: relative;
  opacity: 1;
  animation: slideUp 3.5s, fadeIn 3.5s;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Styles for the navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.5s ease;
  z-index: 100;
}

.navbar.scrolled {
  background-color: transparent;
}

.navbar-brand {
  font-size: 18px;
  padding-left: 48px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.2s;
  z-index: 100;
}

.navbar-brand:hover {
  transform: scaleX(1.2);
}

.navbar-nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 26px;
}

.navbar-nav .nav-item {
  flex: 1 1 50%;
  margin-bottom: 10px;
  transform: scale(1);
  transition: transform 0.2s;
}

.navbar-nav .nav-item:hover {
  transform: scale(1.2);
}

.navbar-nav .nav-link {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

/* Styles for the initial page */
body {
  margin: 0;
  padding: 0;
  background-color: #e5e4e3;
  color: #000000;
}

.initial-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.initial-page h1 {
  font-family: "Sansita Swashed", cursive;
  font-size: 80px;
  text-align: center;
  padding-right: 10px;
  margin: 0;
}

.initial-page p {
  text-align: justify;
  font-size: 30px;
}

/* Styles for sections */
.section {
  /* TOP RIGHT BOTTOM LEFT  */
  padding: 0px 40px;
  height: 100vh;
}

.section h2 {
  font-size: 130px;
  color: #ffffff;
}

.section p {
  line-height: 1.6;
}

.section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section ul li {
  font-size: 18px;
  margin: 8px 0;
}

.section-title {
  transform: translateX(-100%);
  transition: transform 2s ease;
}

.section-title.center {
  transform: translateX(0);
}

/* Styles for the ABOUT ME section */
.about-me-section h2 {
  padding-top: 230px;
}

.about-me-section p {
  text-align: justify;
  font-size: 20px;
  margin-top: -130px;
}

/* Styles for the PROJECTS section */
.projects-section {
  height: auto;
}
.projects-section h2 {
  padding-top: 50px;
  margin-left: -10px;
}

.projects-section p {
  text-align: justify;
}

/* PROJECT CONTAINERS */
.project-one-container {
  display: flex;
  justify-content: space-between;

  margin-top: -130px;
  margin-bottom: 30px;
}

.project-two-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}

.project-three-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}

.project-four-container {
  display: flex;
  justify-content: space-between;
}
.technologies-used {
  margin-top: 2px;
}

/* PROJECT SCREENSHOT AND TECHNOLOGIES USED CONTAINER */
.project-screenshot-technologies-used-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROJECT DESCRIPTION CONTAINER */
.project-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-description-container h3 {
  display: inline-block;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.project-description-container p {
  text-align: justify;
  margin-left: 60px;
  margin-top: -10px;
  font-size: 15px;
}
/* PROJECT BUTTONS */
.project-buttons {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.cool-hover-effect {
  padding: 6px;
  margin-left: 10px;
  border-radius: 15px;
}
/* COOL HOVER EFFECT */
.cool-hover-effect:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}
.hover-effect:hover {
  background-color: #333;
  color: #fff;
  border: 5px solid #333;
  border-radius: 25px;


}



/* Styles for the SKILLS section */

/* Styles for the CONTACT section */
